@page "/Profile"

@attribute [Authorize]

@if(userProfile == null)
{
    <p><em>@message</em></p>
}
else
{
    <h3 class="mb-3">Profile</h3>

    <div class="row mb-3">
        <label class="col-md-3 col-form-label">Name</label>
        <div class="col-md-8">
            <input class="form-control-plaintext" readonly @bind="userProfile.Name" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-3 col-form-label">Email</label>
        <div class="col-md-8">
            <input class="form-control-plaintext" readonly @bind="userProfile.Email" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-3 col-form-label">Phone Number</label>
        <div class="col-md-8">
            <input class="form-control-plaintext" readonly @bind="userProfile.PhoneNumber" />
        </div>
    </div>
}

@inject HttpClient http
@code {
    public UserProfile? userProfile = null;
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try 
        {
            message = "Loading...";

            userProfile = await http.GetFromJsonAsync<UserProfile>("api/account/Profile");
        }
        catch
        {
            message = "Can't read user profile.";
        }
    }
}
