@using BlazorBootstrap

@inherits LayoutComponentBase
<div class="page">

    <script src="/jquery/jquery.min.js"></script>

    <link href="/_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

    <link href="/_content/Blazorise/blazorise.css?v=1.7.4.0" rel="stylesheet" />
    <link href="/_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css?v=1.7.4.0" rel="stylesheet" />

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <AuthorizeView>
                <Authorized>
                    <p class="my-3 me-3" style="font-weight: bold;">@context.User.Identity!.Name</p>
                    <button class="btn btn-primary main-color opt-secondary-btn" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-primary main-color" href="Login">Login</a>
                    <a class="btn btn-outline-primary main-color" href="Register">Register</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <Preload LoadingText="Loading..." />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@inject AuthenticationStateProvider provider
@inject NavigationManager navManager
@code {

    private void Logout()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;
        authStateProvider.Logout();
        navManager.NavigateTo("/");
    }
}
